

<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">About Us</h2>
          <p>A small acts of kindness that creates big change. Together, we’re building a brighter, more inclusive future - one act of kindness at a time</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="https://www.instagram.com/humblehandfoundation"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
         <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Site Links</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Home</a></li>
            <li><a href="about.html" class="py-2 d-block">About</a></li>
            <li><a href="join.html" class="py-2 d-block">Join</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">Vadodara</span></li>
               <!--- <li><a href="tel:+917048660327"><span class="icon icon-phone"></span><span class="text">+91 7048660327</span></a></li>-->
                <li><a href="tel:+91XXXXXXXXXX"><span class="icon icon-phone"></span><span class="text">+91 xxxxxxxxxx</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@humblehand.org</span></a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</footer>